* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NavbarDiv {
  height: 100px;
  background-color: #131A22;
}

.AppLogo {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.NavbarDiv .logo {
  height: 80px;
  background-color: white;
  border-radius: 20px;
}

.NavbarDiv .logo:hover{
  border: 4px solid #efa23c;
  padding: 10px;
  border-radius: 8px;
}

.NavbarLocation {
  width: 200px;
  margin-left: 5px;
  margin-right:10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavbarLocation:hover{
  border: 4px solid white;
  padding: 10px;
  border-radius: 8px;
}

.NavbarLocation .Text img{
  height: 20px;
}

.NavbarLocation .Text{
  font-size: medium;
  font-weight:900;
  color: white;
}

.NavbarLocation .Text span{
  font-size: larger;
}

.NavbarTextArea{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.NavbarTextArea:hover{
  border: 4px solid #efa23c;
  border-radius: 8px;
}

.NavbarTextArea select{
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #e6e6e6;
  border: none;
  outline: none;
  text-align: center;
  font-size: large;
  color: grey;
}
.NavbarTextArea input{
  width: 100%;
  height: 100%;
  font-size: larger;
  text-align: center;
  border: none;
  outline: none;
  
}

.NavbarTextArea img{
 height: 100%;
  background-color: #f4b562;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.NavbarCart{
  margin-right: 20px;
  width: 300px;
  display: flex;
  justify-content: center;
  margin-left: 5px;
}

.NavbarCart img:hover{
  border: 4px solid white;
  padding: 10px;
  border-radius: 8px;
  
}

/* Card */
.CardDiv {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 20px solid #232f3e;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.CardImg {
  height: 100%;
}

.CardDetails {
  width: 900px;
  margin-right: 250px;
}

.CardDetails img{
  margin: 5px;
  height: 15px;
}

.CardDetails p{
  margin-left: 5px;
  font-weight: bold;
}
.CardDetails .free{
  margin-top: 5px;
  color:#5f5f5f;
}

.CardDetails .free button img{
  height: 20px;
}

.CardDetails .free button{
  outline: none;
  border: none;
  background-color: transparent;
  margin-left: 30px;
}

.CardDetails .free button:hover{
  border-radius: 15px;
  border:2px solid#131A22;
}

.NavbarCart .Text {
  width: 100px;
  margin-left: 5px;
  margin-right:25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NavbarCart .Text:hover{
  border: 4px solid white;
  padding: 5px;
  border-radius: 8px;
}


.NavbarCart .Text{
  font-size: medium;
  font-weight:900;
  color: white;
}

.NavbarCart .Text span{
  font-size: larger;
}


.footDiv{
  height: 600px;
  background-color: #232f3e;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footDivArea{
  width: 140px;
  height: 250px;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.footDivArea .span{
  margin-top: 7px;
}

.brand {
  height: 100px;
  background-color: #131A22;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.brand img{
  height:80px;
  background-color: white;
  border-radius: 30px;
}

.brand h2{
  margin-left: 250px;
  margin-right: 250px;
}
